@font-face {
  font-family: Clash Display;
  src: url('./assets/ClashDisplay-Variable.ttf') format('truetype'); 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Clash Display';
}

html,
body {
  width: 100%;
  height: 100%;
}



#home{
  width: 100%;
  height: 90%;
  background-color: #b09773;
  color: white;
  padding: 4%;
}

#home h3{
  text-align: center;
  font-size: 30px;
  font-weight: 300;
}


#nav{
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#home h2{
  font-size: 46px;
  font-weight: 400;
  margin-top: 20%;
}

#home button{
  padding: 14px;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  margin-top: 2%;
  font-size: 17px;
}




#title{
  font-size: 18px;
  color: #FF5555;
  font-weight: 400;
  letter-spacing: 3px;
}

#mainHeading{
  font-size: 48px;
}

.subHeading{
  font-size: 18px;
  margin-top: 6%;
  margin-bottom: 2%;
  font-weight: 600;
}
.content{
  font-size: 18px;
  opacity: .5;
  width: 80%;
}



#testimonial{
  width: 100%;
  height: 100%;
  padding: 2%;
  margin-top: 5%;
}

#testimonial h2{
  font-size: 33px;
  font-weight: 400;
  text-align: center;
}

#testimonial h6{
  opacity: .4;
  text-align: center;
  font-size: 17px;
  font-weight: 400;
}

#Product_images{
  width: 100%;
  height: 80%;
  margin-top: 2%;
  display: flex;
  justify-content: space-between;
}

#Product_images img{
  width: 32%;
  height: 100%;

}


#footer{
  width: 100%;
  height: 62%;
  padding-left: 11.5%;
  padding-right: 11.5%;
  padding-top: 5%;
  padding-bottom: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  color: white;
}
#footerData{
  width: 100%;
  height: 73%;
  display: flex;
}

.footerDataClass{
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items:start;
  justify-content: space-between;
}
.footerDataClass h6{
  font-size: 32px;
  font-weight: 500;
}

.footerDataClass button{
  width: 69%;
  background-color: #b09773;
  height: 25%;
  color: white;
  border: none;
  font-size: 17px;
  border-radius: 4px;
}
#line{
  width: 90%;
  height: .2%;
  background-color: black;
  border-radius: 100px;
  opacity: .6;
}


#Trends{
  width: 100%;
  height: 80%;
  background-color: #b09773;
  display: flex;
}
#leftTrends{
  width: 30%;
  height: 100%;
  color: white;
  padding: 4%;
}

#leftTrends h3{
  font-size: 35px;
  font-weight: 400;
  margin-bottom: 16%;
}

#leftTrends button{
  padding: 10px;
  margin-top: 13%;
  background-color: transparent;
  border: 1px solid white;
  color: white;
}

#rightTrends{
  width: 70%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#rightTrends img{
  width: 32%;
  height: 74%;
}